tr:hover {
  background-color: #212529b2;
  color: rgba(0, 0, 0, 0.5);
}
.titulo-producto {
  font-size: 10px;
  font-weight: bold;
}
.reloj {
  // max-width: 80%;
  width: 70%;
  padding: 10px;
  margin-left: 15px;
}
.descripcion-producto {
  font-size: 10px;
}
.card-body {
  padding-bottom: 0px;
}
.producto {
  cursor: pointer;
}
.card-producto:hover {
  background-color: #0000000a;
  // border: 1px solid #ff562277;
}
.precio {
  background-color: salmon;
  margin: 3px;
  font-size: 12px;
}
.disponible {
  font-size: 10px;
  margin-top: -10px;
  margin-bottom: 5px;
  color: green;
}

.no-disponible {
  font-size: 10px;
  margin-top: -10px;
  margin-bottom: 5px;
  color: red;
}
