<div class="card">
  <div class="card-header">Inventario Disponible</div>
  <div class="card-body">
    <p class="card-title">Lista de Relojes</p>
    <div class="input-group input-group-sm mb-3">
      <span class="input-group-text" id="inputGroup-sizing-sm"
        ><i class="bi bi-cart-check-fill"></i
      ></span>
      <input
        type="text"
        class="form-control"
        placeholder="Escribe Nombre del producto"
        aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-sm"
        #inputBuscarProducto
        (keyup)="inputBuscar(inputBuscarProducto.value)"
      />
    </div>
    <div class="row">
      <div
        class="col-md-3 producto"
        *ngFor="let producto of productosLista; let n = index"
        (click)="enviar(producto)"
      >
        <div
          class="card card-producto"
          style="margin-bottom: 10px"
          title="{{ producto.descripcion }}"
        >
          <div class="d-flex justify-content-end">
            <p class="precio">
              {{ producto.precioVentaCliente | currency: "COP" }}
            </p>
          </div>

          <div class="card-body">
            <img src="assets/imgs/casio.png" class="reloj" alt="..." />

            <p class="titulo-producto mb-0">{{ producto.nombre }}</p>
            <p class="descripcion-producto" style="font-style: italic">
              {{ producto.descripcion | slice: 0:20 }}
            </p>
            <div
              class="d-flex justify-content-end"
              *ngIf="producto.stock > 0; else noDisponoble"
            >
              <p class="disponible">Disponible: {{ producto.stock }}</p>
            </div>
            <ng-template #noDisponoble>
              <div class="d-flex justify-content-end">
                <p class="no-disponible">Sin Unidades</p>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="card">
  <div class="card-header">Relojería</div>
  <div class="card-body">
    <p class="card-title">Lista de Relojes</p>

    <div class="input-group input-group-sm mb-3">
      <span class="input-group-text" id="inputGroup-sizing-sm"
        ><i class="bi bi-cart-check-fill"></i
      ></span>
      <input
        type="text"
        class="form-control"
        placeholder="Escribe Nombre del producto"
        aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-sm"
        #inputBuscarProducto
        (keyup)="inputBuscar(inputBuscarProducto.value)"
      />
    </div>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Descripción</th>
          <th scope="col">Precio</th>
          <th scope="col">Stock</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let producto of productosLista; let n = index"
          (click)="enviar(producto)"
        >
          <th *ngIf="producto.stock > 0" scope="row">{{ n + 1 }}</th>
          <td *ngIf="producto.stock > 0">{{ producto.nombre }}</td>
          <td *ngIf="producto.stock > 0">{{ producto.descripcion }}</td>
          <td *ngIf="producto.stock > 0">{{ producto.precioVentaCliente }}</td>
          <td *ngIf="producto.stock > 0">{{ producto.stock }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div> -->
